/*	MIU - Project	
	Jairo Daniel Bernal
	MIU 1201
	01/06/2012			*/
	
	
/*  additem.htmal  */
	
/*

h1{
	background-color: white;
	width: 440px;
	margin-left: -10px;
	padding-left: 10px;
	color:  #284767;
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-box-shadow: 0 0 4px #c1c1c1;
	-webkit-box-shadow: 0 0 4px #c1c1c1;
	box-shadow: 0 0 4px #c1c1c1;
	border-bottom: 1px solid gray;
	text-shadow: 2px 2px 2px rgb(123, 157, 192);
	text-align: center;
	font-style: "Century Gothic";
	font-size: 36px;
	text-transform: uppercase;
}


nav{
	background-color: white;
	width: 440px;
	margin-top: 20px;
	margin-left: -10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-box-shadow: 0 0 4px #c1c1c1;
	-webkit-box-shadow: 0 0 4px #c1c1c1;
}

#clear{
	padding-right: 10px;
	padding-left: 10px;
}


#display{
	padding-right: 10px;
	padding-left: 10px;
}

#addNew{
	padding-right: 10px;
	padding-left: 10px;
}

#projectFieldset{
	margin-top: 20px;
	background-color: #7c9ec0;
	border: 1px solid white;
	-moz-box-shadow: 0 0 4px #aeaeae;
	-webkit-box-shadow: 0 0 4px #aeaeae;
	box-shadow: 0 0 4px #aeaeae;
	width: 410px;
}

#errors{
	color: red;
}

#pType{
	width: 210px;
	}


#projectTasksFieldset{
	margin-top: 20px;
	border: 1px solid white;
	-moz-box-shadow: inset 0 0 8px rgba(41, 41, 41, 0.8), 0 0 4px #aeaeae;
	-webkit-box-shadow: inset 0 0 8px rgba(41, 41, 41, 0.8), 0 0 4px #aeaeae;
	box-shadow: inset 0 0 8px rgba(41, 41, 41, 0.8), 0 0 4px #aeaeae;
	padding-top: 10px;
}

#projectInfo{
	margin-top: 15px;
	margin-bottom: 2px;
}

.pInfo{
	display: block;
	width: 200px;
}

#newPrjTl{
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.75);
	color: #284767;
	font-size: 20px;
	margin-top: 0;
}


h3{
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.75);
	color: #284767;
	font-size: 18px;
	margin-top: 0;
}

ul{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}


label{
	margin-right: 20px;
	left: 30px;
}

#items{
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 430px;
	
}

#listDispData{
	
}

#work{
	margin-top: 10px;
}


.commentArea{
	margin-top: 10px;
	width: 200px;
}

#rend{
	display: block;
	margin-top: 10px;
}


#submit{
	margin-top: 15px;
	margin-bottom: 5px;
}*/

/*  homepage.html  */

#search{
	background: url(../Image/BG%20Search.jpg) no-repeat;
	position: fixed;
	left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	margin: -8px -8px -10px;
	position: static;
	margin-bottom: -10px;
	text-align: right;
}



Body{
	color:#284767;
	font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 750px;
	background: url(../Image/BG%20graphpaper.png) no-repeat 0 40px;
	/*-moz-box-shadow: 0 0;
	-webkit-box-shadow: 0 0;
	box-shadow: 0 0;*/
}

#addProject{
	top: 110px;
	position: relative;
	left: 160px;
}


/*#createProject{
	margin-top: 40px;
	background-color: #7c9ec0;
	border: 2px solid white;
	-moz-box-shadow: 0 0 4px #aeaeae;
	-webkit-box-shadow: 0 0 4px #aeaeae;
	box-shadow: 0 0 4px #aeaeae;
	width: 410px;
	height: 80px;
	padding-top: 10px;
}*/


/*#Browse{
	/*margin-top: 240px;
	/*border: 2px solid white;*!/
	width: 410px;
	height: 230px;
	padding-top: 10px;*!/
}*/

#siteDeve{
	/*background: url(../Image/siteDevelopment.png) no-repeat;
	width: 300px;*/
}

#listOne{
	
}

/*.brws{
	width: 410px;
	margin-left: -40px;
}*/


/*#prjTrackTl{
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.75);
	color: #284767;
	font-size: 20px;
	margin-top: 0;*/
}

/*#browsePrj{
	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.75);
	color: #284767;
	font-size: 20px;
	margin-top: 0;
}*/



/*#mess{
	color: white;
	font-size: 13px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: -10px;
	width: 410px;
}*/

